{
    "arrowParens": "avoid",
    "printWidth": 100,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "semi": true,
    "singleQuote": true,
    "overrides": [
      {
        "files": "src/**/*.html",
        "options": {
          "printWidth": 140
        }
      }
    ]
  }